<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div>
        <h2 style="color: darkred">Task Name: <i>{{ task }}</i></h2>
        <br>
        <div style="border-style: solid;border-width: 2px">
            <h3>Created on: {{ task.created }}  </h3>
            <h3>StartTime:  {{ task.startTime }}</h3>
            <h3>EndTime:    {{ task.endTime }}  </h3>
            <h3>Project:    {{ task.project }}  </h3>
        </div>
        <br>
        <a href="{% url 'tasks' %}">Go back</a>
    </div>

</body>
</html>